/whist_server.egg-info/
/venv/
/.venv/
/tests/
/dist/
/.run/
/.pytest_cache/
/.github/
/.flake8

/.gitattributes

/.gitignore

/.pylintrc
/deploy.sh
/docker-compose.yml

/docker-compose-dev.yml

/Dockerfile

/LICENSE
