[tool.poetry]
name = "whist-server"
# remember to also update the version in __init__.py!
version = "0.5.0"
description = "Whist server implementation"
authors = ["Whist-Team"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/Whist-Team/Whist-Server"
repository = "https://github.com/Whist-Team/Whist-Server"
#documentation = "https://whist-server.readthedocs.io"
keywords = ["game", "server", "whist"]
classifiers = [
    "Operating System :: OS Independent"
]
include = ["static"]

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/Whist-Team/Whist-Server/issues"

[tool.poetry.plugins.console_scripts]
whist-server = "whist_server.cli:main"

[tool.poetry.dependencies]
python = "^3.9"
whist-core = "^0.4"
fastapi = { version = "^0.85", extras = ["all"] }
httpx = "^0.23"
pydantic = "^1.10"
pymongo = "^4.2"
python-jose = { version = "^3.3", extras = ["cryptography"] }
passlib = { version = "^1.7", extras = ["bcrypt"] }
splunk-sdk = "^1.7"

[tool.poetry.dev-dependencies]
pytest = "^7.1"
pytest-cov = "^3.0"
pytest-asyncio = "^0.19"
flake8 = "^5.0"
pylint = "^2.15"
flake8-docstrings = "^1.6.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
markers = [
    "integtest: Integrationtest use 'pytest -m integtest'"
]
