[tool.poetry]
name = "whist-server"
# remember to also update the version in __init__.py!
version = "0.8.0"
description = "Whist server implementation"
authors = ["Whist-Team"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/Whist-Team/Whist-Server"
repository = "https://github.com/Whist-Team/Whist-Server"
#documentation = "https://whist-server.readthedocs.io"
keywords = ["game", "server", "whist"]
classifiers = [
    "Operating System :: OS Independent"
]
include = ["static"]

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/Whist-Team/Whist-Server/issues"

[tool.poetry.plugins.console_scripts]
whist-server = "whist_server.cli:main"

[tool.poetry.dependencies]
python = "^3.9"
fastapi = "^0.109"
httpx = ">=0.26,<0.28"
pydantic = "^2.6"
pymongo = "^4.6"
PyJWT = "^2.8"
# splunk-sdk = "^1.7" # splunk not supported with python 3.12+
bcrypt = "^4.1"
whist-core = "^0.9"
python-multipart = ">=0.0.8,<0.0.10"
uvicorn = "^0.27"

[tool.poetry.group.dev.dependencies]
pytest = "^8.0"
pytest-cov = "^4.1"
pytest-asyncio = "^0.23.5"
flake8 = "^7.0"
flake8-docstrings = "^1.7"
pylint = "^3.0"
python-dotenv = "^1.0"
setuptools = "^69.0"
wheel = "^0.42"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
markers = [
    "integtest: Integrationtest use 'pytest -m integtest'"
]
