name: Pylint

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        python-version: [ 3.9 ]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        id: setup-python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'poetry'

      - name: Install poetry
        uses: snok/install-poetry@v1

      - name: Install dependencies
        run: poetry install --no-interaction

      - name: Lint sources with flake8
        run: poetry run flake8 whist_server --count --show-source --statistics

      - name: Lint sources with pylint
        run: poetry run pylint whist_server
