name: Python CI

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main ]

jobs:
  unittest:
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        python-version: [ '3.9', '3.10', '3.11.0-beta.4' ]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: Whist-Team/actions/setup-poetry@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: 'Unittest with pytest & coverage'
        uses: Whist-Team/actions/test-cov@v2
        with:
          package: whist_server
          token: ${{ secrets.CODECOV_TOKEN }}

  integrationtest:
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        python-version: [ '3.9', '3.10', '3.11.0-beta.4' ]
        mongodb-version: [ '4.4', '5.0' ]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: Whist-Team/actions/setup-poetry@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.7.0
        with:
          mongodb-version: ${{ matrix.mongodb-version }}

      - name: Integrationtest with pytest
        uses: Whist-Team/actions/test-cov@v2
        with:
          package: whist_server
          token: ${{ secrets.CODECOV_TOKEN }}
          test-type: integtest

        
